<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <div>
            <form id="boardForm" name="boardForm" action="/board/register" th:action="@{/board/register}" method="post">
                <div class="form-group">
                    <label for="groupName">게시글 제목</label>
                    <input type="text" class="form-control" id="boardTitle" name="boardTitle" th:value="${board.boardTitle}" required>
                    <small class="text-danger" th:errors="${boardDTO.boardTitle}"></small>
                </div>
                <div class="form-group">
                    <label for="groupDescription">게시판 내용</label>
                    <input type="text" class="form-control" id="boardContent" name="boardContent" th:value="${board.boardContent}">
                    <small class="text-danger" th:errors="${boardDTO.boardContent}"></small>
                </div>
                <div class="form-group">
                    <label for="boardCategoryNo">게시판 카테고리</label>
                    <select class="form-control" id="boardCategoryNo" name="boardCategoryNo" >
                        <option value=" ">-- 게시판 카테고리 선택 --</option>
                        <option th:each="boardCategory : ${boardCategoryList}" th:value="${boardCategory.boardCategoryNo}" th:text="${boardCategory.boardCategoryName}"></option>
                    </select>
                    <small class="text-danger" th:errors="${boardDTO.boardCategoryNo}"></small>
                </div>
                
                <div class="form-group">
                    <label for="userId">모임장</label>
                    <select class="form-control" id="userNo" name="userNo">
                        <option value=" ">-- 모임장 선택 --</option>
                        <option th:each="user : ${userList}" th:value="${user.userNo}" th:text="${user.name}"></option>
                    </select>
                    <small class="text-danger" th:errors="${groupDTO.regionNo}"></small>             
                </div>
                
                <button type="submit" id="btnSubmit" class="btn btn-primary">저장</button>
                <a class="btn btn-danger" href="/board/list">취소</a>
            </form>
        </div>
    </div>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
    $('#btnSubmit').click(function(event) {
       /*  event.preventDefault();
        var groupName = $('#groupName').val();
        var groupCategoryNo = $('#groupCategory').val();
        var regionNo = $('#region').val();
        var userNo = $('#user').val();
        
        if (groupName.trim() === '') {
            alert('그룹명을 입력하세요.');
            return;
        }
        
        if (groupCategoryNo.trim() === '') {
            alert('그룹 카테고리를 선택하세요.');
            return;
        }
        
        if (regionNo.trim() === '') {
            alert('지역을 선택하세요.');
            return;
        }
        
        if (userNo.trim() === '') {
            alert('사용자를 선택하세요.');
            return;
        } */
        
        // submit
        //this.submit();
        $('#boardForm').submit();
    });
});
</script>
