<header>
		<div class="header-container">
	        <h1 class="header-title">자바와 함께하는 자바월드</h1>
			<div class="category-buttons">
				<button class="category-button" onclick="location.href='/group/test1'">홈</button>
				<button class="category-button" onclick="location.href='/group/test2'">게시판</button>
				<button class="category-button" onclick="location.href='/group/test3'">사진첩</button>
				<button class="category-button" onclick="location.href='/group/test4'">채팅</button>
			</div>
		</div>

      <script>
      /* 선택한 카테고리 버튼만 기능을 적용하는 코드 */
//         function toggleActive(button) {
//             var buttons = document.getElementsByClassName('category-button');
//             for(var i=0; i<buttons.length; i++) {
//                 buttons[i].classList.remove('active');
//             }
//             button.classList.add('active');
//         }
      	
      </script>
</header>