<header>
		<div class="header-container">
	        <h1 class="header-title">자바와 함께하는 자바월드</h1>
			<div class="category-buttons">
				<button class="category-button" onclick="location.href='/group/test1'">홈</button>
				<button class="category-button" onclick="location.href='/group/test2'">게시판</button>
				<button class="category-button" onclick="location.href='/group/test3'">사진첩</button>
				<button class="category-button" onclick="location.href='/group/chatList'">채팅</button>
			</div>
		</div>
		<!-- DOM이 모두 로드 되었을 때 -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script th:inline="javascript">
			$(document).ready(function() {
	    		alert("DOM이 모두 로드되었습니다.");
	    		var groupNo = document.getElementById('groupNo').value;
	    		var buttons = document.getElementsByClassName('category-button');
	    		
	    		console.log("그룹번호: ", groupNo);
	    		
	    		for(var i=0; i<buttons.length; i++) {
	    			console.log(buttons[i]);
	    			buttons[i].setAttribute("onclick", "location.href='/group/chatList?groupNo=" + groupNo + "'");
	    		}
			});
		</script>
</header>