<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>마이페이지</title>
</head>
<body>
        <h1>MyPage</h1>
        
        <h2>가입한 그룹 목록</h2>

        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">그룹번호</th> 
                        <th scope="col">그룹명</th> 
                        <th scope="col">가입일</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="groupMember : ${groupMemberList}">
                        <td th:text="${groupMember.groupNo}"></td>
                        <td> 
                        	<a th:href="@{/group/groupRead(groupNo = ${groupMember.groupNo})}">
                        	[[${groupMember.groupName}]]
                        	</a>
                        </td>
                        <td th:text="${#temporals.format(groupMember.regDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
