<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <h1 class="mt-4">User Details</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>유저No:</th>
                    <td th:text="${user.userNo}"></td>
                </tr>
                <tr>
                    <th>유저Id:</th>
                    <td th:text="${user.userId}"></td>
                </tr>
                <tr>
                    <th>유저Name:</th>
                    <td th:text="${user.name}"></td>
                </tr>
                <tr>
                    <th>유저Phone:</th>
                    <td th:text="${user.phone}"></td>
                </tr>
                <tr>
                    <th>GroupMember:</th>
                    
                </tr>
                <tr>
                    <th>유저RegDate:</th>
                    <td th:text="${#temporals.format(user.regDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
        
        <a th:href="@{/user/userList}">
            <button type="button" class="btn btn-outline-primary">Back to List</button>
        </a>
        <a th:href="@{/user/userModify(userNo = ${user.userNo})}">
            <button type="button" class="btn btn-outline-success">Modify</button>
        </a>       
		<a th:href="@{/user/userDelete/{userNo}(userNo=${user.userNo})}">
		    <button type="button" class="btn btn-outline-warning">Delete</button>
		</a>
    
        
    </div>
</html>
