.header {
	overflow: hidden;
}

.header{
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 100%;
	position: absolute;
	
}

.title {
	color: rgba(135.00000715255737, 206.0000029206276, 235.0000011920929, 1);
	width: 100%;
	height: 100%;
	left: 50%;
	top: 30px;
	font-family: Fugaz One;
	text-align: center;
	font-size: 96px;
	letter-spacing: 0;
	text-decoration: none;
}

.mypage
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Halant;
left:480px;
top:150px;
width:1000px;
height:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.line1
{
width:1000px;
transform:rotate(0);
border:1px solid #c0c0c0;
top:250px;
left:470px;
position:absolute;
}

.basicInfo
{
color:#666666;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Halant;
left:600px;
top:250px;
width:156px;
height:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.userBox1
{
background-color:rgba(217, 217, 217, 0);
height:300px;
width:700px;
border-radius:15px;
border:2px solid #87ceeb;
top:330px;
left:600px;
position:absolute;
}

.userId
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:25px;
font-family:Halant;
left:150px;
top:40px;
width:100px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.userName
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:25px;
font-family:Halant;
left:150px;
top:130px;
width:100px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.userPhone
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:25px;
font-family:Halant;
left:150px;
top:220px;
width:170px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.userIdValue
{
color:#000000;
text-align:right;
vertical-align:text-middle;
font-size:25px;
font-family:Halant;
left:400px;
top:40px;
width:166px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.userNameValue
{
color:#000000;
text-align:right;
vertical-align:text-middle;
font-size:25px;
font-family:Halant;
left:400px;
top:130px;
width:166px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.userPhoneValue
{
color:#000000;
text-align:right;
vertical-align:text-middle;
font-size:25px;
font-family:Halant;
left:400px;
top:220px;
width:250px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.myGroup
{
color:#666666;
text-align:left;
vertical-align:text-middle;
font-size:13px;
font-family:Halant;
left:600px;
top:650px;
width:400px;
height:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.line2
{
width:1600px;
transform:rotate(0);
border:1px solid #c0c0c0;
top:900px;
left:170px;
position:absolute;
}

.groupName1
{
color:#007bff;
text-align:center;
vertical-align:text-middle;
font-size:28px;
font-family:Halant;
left:610px;
top:720px;
width:454px;
height:37px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.line2
{
width:700px;
transform:rotate(0);
border:1px solid #c0c0c0;
top:700px;
left:600px;
position:absolute;
}

.groupregDate1
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:28px;
font-family:Halant;
left:1050px;
top:720px;
width:270px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
