<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/home.css"> 
<title>메인 페이지</title>

</head>
<body>
	<div class=header>
		<a th:href="@{/}" class="title">RE! crew</a>

		<div class="spacer">
    <div class="search-container">
        
        <form th:action="@{group/groupList}" method="get">
        	<input type="text" id="searchInput" name="searchKeyword" placeholder="키워드를 입력하세요">
        	<button id="searchButton" type="submit">검색</button>
    	</form>
        <!-- <input type="text" id="searchInput" placeholder="검색어를 입력하세요">
        <button id="searchButton" type="button" onClick="performSearch()">검색</button> -->
        
    </div>
</div>
	<div id="loginStatus">
    	<span th:if="${session.user != null}" id="logoutLink">
    		<label class="loginUser" style="white-space: nowrap;">[[${session.user.name}]] 님</label>
        	<a th:href="@{/user/logout}" class="logout">로그아웃</a>
		</span>
		<span th:if="${session.user == null}" id="logoutLink">
        	<a th:href="@{/user/login}" class="logout">로그인</a>
		</span>
	</div>
		<a th:href="@{/user/mypage}" class="mypage" >마이페이지</a>
		
		<div class="travelcategory">
			<a th:href="@{/group/groupList(groupCategoryNo=4)}"
				class="travelicon"> <img src="/image/travelcategory.png"
				alt="Travel Category" /></a> <span class="traveltext">여행</span>
		</div>
		<div class=etccategory>
			<a th:href="@{/group/groupList(groupCategoryNo=8)}" class="etcicon">
				<img src="/image/etccategory.png" alt="ect category" />
			</a> <span class="etctext">자유</span>
		</div>
		<div class=blinddate>
			<a th:href="@{/group/groupList(groupCategoryNo=7)}" class="dateicon">
				<img src="/image/blinddate.png" alt="blind date" />
			</a> <span class=datetext>소개팅</span>
		</div>
		<div class=selfdevelopement>
			<a th:href="@{/group/groupList(groupCategoryNo=5)}" class="selficon">
				<img src="/image/selfdevelopement.png" alt="selfdevelopement" />
			</a> <span class="selftext">자기계발</span>
		</div>
		<div class=amity>
			<a th:href="@{/group/groupList(groupCategoryNo=6)}" class="amityicon">
				<img src="/image/amity.png" alt="amity" />
			</a> <span class="amitytext">친목</span>
		</div>
		<div class="culture">
			<a th:href="@{/group/groupList(groupCategoryNo=1)}"
				class="culturebox"> <img src="/image/culture.png"
				alt="cultruebox" /></a> <span class="culturetext">문화/예술</span>
		</div>
		<div class=exercise>
			<a th:href="@{/group/groupList(groupCategoryNo=2)}"
				class="exercisebox"> <img src="/image/exercise.png"
				alt="exercisebox" /></a> <span class="exercisetext">운동</span>
		</div>
		<div class=restaurant>
			<a th:href="@{/group/groupList(groupCategoryNo=3)}"
				class="restaurantbox"> <img src="/image/restaurant.png"
				alt="restaurantbox" />
			</a> <span class="restauranttext">맛집</span>
		</div>
		<div class=maintitle>
			<span class="maintitle1">곧 만나는 크루에요!</span> <span class="maintitle2">금주의
				인기크루는?</span>

			<div class=crew>
				<div class="crewbackground"></div>
				<a th:href="@{/group/groupRead(groupNo=2)}" class="crewname">유적지 탐방할 크루원 모집중</a><span class="crewcount">3</span><span
					class="region">수원시</span>
				<div class="Entercrew">
					<div class="Entercrewbox"></div>
					<span class="Entercrewbutton">참여</span>
				</div>
			</div>
			<div class=crew1>
				<div class="crewbackground1"></div>
				<a th:href="@{/group/groupRead(groupNo=3)}" class="crewname1">여행을 떠나라 크루원 모집중</a><span
					class="crewcount1">7</span><span class="region1">안양시</span>
				<div class=Entercrew1>
					<div class="Entercrewbox1"></div>
					<span class="Entercrewbutton1">참여</span>
				</div>
			</div>
		</div>
		<span class="crew2">더 많은 크루를 확인해 보세요.</span>
		<div class=crewbackground2>
			<div class="crewbackgroundbox2"></div>
			<a th:href="@{/group/groupRead(groupNo=1)}" class="crewname2">자바 스터티 크루원 모집중</a><span
				class="crewcount2">9</span><span class="region2">안산시</span>
			<div class=Entercrew2>
				<div class="Entercrewbox2"></div>
				<span class="Entercrewbutton2">참여</span>
			</div>
		</div>
		<div class=crew3>
			<div class="crewbackgroundbox3"></div>
			<span class="crewname3">당산에서 러닝할 크루 모집중</span><span
				class="crewcount3">1</span><span class="region3">서울시</span>
			<div class=Entercrew3>
				<div class="Entercrewbox3"></div>
				<span class="Entercrewbutton3">참여</span>
			</div>
		</div>
	</div>
</div>

</body>
</html>