<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">
    <div layout:fragment="content" class="container my-3">
        <h1 class="mt-4">User Details</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>회원번호:</th>
                    <td th:text="${user.userNo}"></td>
                </tr>
                <tr>
                    <th>회원아이디:</th>
                    <td th:text="${user.userId}"></td>
                </tr>
                <tr>
                    <th>회원이름:</th>
                    <td th:text="${user.name}"></td>
                </tr>
                 <tr>
                    <th>회원휴대폰번호:</th>
                    <td th:text="${user.phone}"></td>
                </tr>
            </tbody>
        </table>
        
        
    
        
    </div>
</html>
