<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
	var idCheck = 0;
    var pwdCheck = 0;
    
    if(idCheck == 0){
    	$('#idResult').addClass('errorMsg').text('아이디 중복체크를 실행해주세요');
    }
    
    $("#idExist").on('click', function(e) {
        var userId = $("input[name='userId']").val();
        idCheck = 0;
        $.ajax({
            url: '/user/idcheck',
            type: 'post',
            data: { userId: userId },
            dataType: 'text',
            success: function(result) {
                console.log("ajax 성공@@@@" + result);
                if (result === 'true') {
                    $('#idResult').removeClass('okMsg').addClass('errorMsg').text('아이디가 이미 존재합니다.');
                    idCheck = 0;
                    console.log("idCheck 성공@@@@" + idCheck);
                } else {
                    $('#idResult').removeClass('errorMsg').addClass('okMsg').text('사용 가능한 아이디입니다.');
                    idCheck = 1;
                    console.log("idCheck : " + idCheck);
                    enablePasswordFields();
                }
            },
            error: function(request, status, error) {
                console.log("ajax 실패@@@@" + error);
            }
        });
    });

    // 비밀번호 확인 체크
    $("input[name='password'], input[name='password2']").on('keyup', function(e) {
    	var password = $("input[name='password']").val();
    	var password2 = $("input[name='password2']").val();
    	
    	enablePasswordFields();
    	
    	if (password !== password2 || password === "" || password2 === "") {
    		$('#pwdResult').removeClass('okMsg').addClass('errorMsg').text('비밀번호가 일치하지 않습니다.');
    		disableSubmitButton();
    	} else {
    		if (pwdCheck === 0) {
    			$('#pwdResult').removeClass('errorMsg').addClass('okMsg').text('비밀번호가 일치합니다.');
    			pwdCheck = 1;
    		} 
    		enableSubmitButton();
    	}
    });
    
    function enablePasswordFields() {
    	if (idCheck === 1) {
    		$("input[name='password']").prop("disabled", false);
    		$("input[name='password2']").prop("disabled", false);
    	} else {
    		$("input[name='password']").prop("disabled", true);
    		$("input[name='password2']").prop("disabled", true);
    	}
    }
    
    function enableSubmitButton() {
        $(".btnSubmit").prop("disabled", false);
    }
    
    function disableSubmitButton() {
        $(".btnSubmit").prop("disabled", true);
    }
});
</script>
<style>
.errorMsg {
    color: red;
}

.okMsg {
    color: blue;
}
</style>
</head>
<body>
	<h1>회원가입 화면</h1>

	<form name='loginForm' id='loginForm' action="/user/register" method="post">
		<label>ID</label>
		<input type="text" name="userId">
		<button type="button" id="idExist">중복확인</button>
		<p id="idResult"></p>

		<br>
		<label>PASSWORD</label>
		<input type="password" name="password" disabled="disabled">
		<input type="password" name="password2" disabled="disabled">
		<p id="pwdResult"></p>

		<br>
		<label>이름</label>
		<input type="text" name="name" required>

		<br>
		<label>휴대폰번호</label>
		<input type="text" name="phone" placeholder="(-) 제외" required>

		<br>
		<button type="submit" class="btnSubmit" id="btnSubmit" disabled="disabled">회원가입</button>
	</form>
</body>
</html>