<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="stylesheet" href="/css/groupIntroduce.css">
    <link rel="stylesheet" href="/css/groupMainHeader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <style>
		body {
			font-family: 'Noto Sans KR', sans-serif;
		}
    </style>
    <title>Document</title>
</head>
<body>
	<div th:replace="~{etc/mainContainer::header}"></div>
    <div th:replace="~{etc/groupMainHeader::header}"></div>

    <div class="group-main-container">
        <img class="group-main-img" id="previewImage" src=""/>
		<div class="group-main-img-button" id="imageRegisterButton">
          <h3>클릭해서 배경 이미지를 등록하세요</h3>
        </div>
        <input type="file" id="imageInput" class="hidden-input">
        <div class="description-container">
            <h3 class="group-title">자바와 함께하는 이젠 아카데미</h3>
            <div class="description">
                안녕하세요 저희 모임은 이젠 아카데미 입니다.<br/>
                여기는 모임 소개글을 데이터로 받아서<br/>
                표시해 주는 공간입니다.<br/>
                innerHTML을 활용하여 작성할겁니다.♥<br/>
            </div>
        </div>
        <div>
        	<div id="joinButton" style="display: none;">
        		<a th:href="@{/group/join(groupNo=${groupNo}, userNo=${session.user.userNo})}">
		    		<button class="joinButton">가입하기</button>
		 		</a>
        	</div>
			<div id="leaveButton">
			 	<a th:href="@{/group/deleteJoin(groupNo=${groupNo})}"
	        		onclick="return confirm('모임장일 경우 모임이 삭제됩니다. 그래도 모임을 정말 탈퇴하시겠습니까?');">
	        		<button type="button" class="leaveButton">탈퇴하기</button>
	    	 	</a>
    	 	</div>
        </div>
        <div class="schedule-container">
          <h3 class="schedule-title">Schedule</h3>
          <div class="schedule">
          	
          </div>
        </div>

        <div class="group-member-container">
          <h3 class="group-member-title">Group Member</h3>
          <div class="group-member">그룹의 멤버들이 표시될 자리입니다.</div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
	 	const imageDiv = document.getElementById('previewImage');
	  	const imageRegisterButton = document.getElementById('imageRegisterButton'); // "배경 이미지를 등록하세요"
	  	const imageInput = document.getElementById('imageInput');
	  	var groupNo = "[[${groupNo}]]";
	  	let imagePath = 'src/main/resources/static/image/groupMain/' + 'main_image_group_' + groupNo + '.'; 
	  	
	  	imageRegisterButton.addEventListener('click', () => imageInput.click());
// 	 	imageDiv.addEventListener('click', () => imageInput.click()); 
// 		사진이 입력된 상태에서도 새로 입력이 가능
	  	imageInput.addEventListener('change', () => handleFileSelection(event));
	  	
	  	/* 모든 문서가 조회되면.. */
	  	$(document).ready(function() {
    		imageDirectoryCheck();
    		
    		const userExists = "[[${userExists}]]";
    		
    		const joinButton = document.getElementById('joinButton');
    		if(userExists === "true") {
    			joinButton.style.display = "none";
    		} else {
    			joinButton.style.display = "block";
    		}
    		
    		const leaveButton = document.getElementById('leaveButton');
    		if(userExists === "false") {
    			leaveButton.style.display = "none";
    		} else {
    			leaveButton.style.display = "block";
    		}
    	});
    	
	  	
	  	// 파일이 변경되면 이미지를 폴더에 저장하고 이미지를 변경해주는 함수
	  	function handleFileSelection(event) {
	  		const reader = new FileReader();
	  		let file = event.target.files[0];
	  		let filename = file.name;
	  		
	  		let lastDot = filename.lastIndexOf('.') + 1;
	  		let fileExtension = filename.substring(lastDot, filename.length);
	  		
	  		// 이미지 확장자 검증
	  		let pictureExtensions = ['jpg', 'png', 'gif', 'jpeg'];
	  		if(pictureExtensions.includes(fileExtension)) {
	  			console.log('해당 확장자는 이미지 파일입니다.');
	  			reader.readAsDataURL(file);
	  		} else {
	  			console.log('해당 파일은 이미지가 아닙니다.');
	  			return;
	  		}
	  		
	  		reader.onload = function(event) {
	  			const imageData = event.target.result;
	  			const fileName = 'main_image_group_' + groupNo + '.' + fileExtension;
	  			saveImageAjaxRequest(imageData, fileName);
	  		};
	  	}
	  	
	  	// 사진 base64String 문자열을 전달해서 새로운 이름으로 이미지를 저장하는 함수
	  	function saveImageAjaxRequest(imageData, fileName) {
	  		const formData = {
	  				imageData: imageData,
	  				fileName: fileName,
	  		};
	  		imageDiv.src = imageData; // 이미지 DIV에 저장
	  		
	  		// ajax
	  		$.ajax({
	  			url: '/image/saveImage',
	  			type: 'POST',
	  			data: JSON.stringify(formData),
	  			contentType: 'application/json',
	  			success: function(response) {
	  				const message = response;
	  				if(message === 'fail') {
	  					alert('파일이 정상적으로 등록되지 않았습니다.');
	  				} else {
	  					console.log('파일이 등록되었습니다.');
	  				}
	  			},
	  			error: function(xhr, status, error) {
	  				console.err('ajax 요청 실패', error);
	  			}
	  		});
	  		
	  	}
      

	 	// 디렉터리에 이미지가 존재하는지 체크하고 등록해주는 함수
	  	function imageDirectoryCheck() {
		  /*
			배경 이미지가 폴더에 존재하는 경우에는 바로 등록. 
			존재하지 않는 경우에는 버튼이 보여지게 됨.
		  */
	      $.ajax({
	    	  url: '/image/fileExists',
	    	  type: 'POST',
	    	  data: imagePath,
	    	  contentType: 'application/json',
	    	  success: function(response) {
	    		  let filename = response;
	    		  if(filename === 'notFound') {
	    			  console.log('파일이 존재하지 않습니다.');
	    			  imageDiv.style.display = "none";
	    			  imageDiv.src = "";
	    			  imageRegisterButton.style.display = "block";
	    		  } else {
	    			  console.log('파일이 존재합니다.');
	    			  imageDiv.style.display = "block";
	    			  imageDiv.src = '../image/groupMain/' + filename;
	    			  imageRegisterButton.style.display = "none";
	    		  }
	    	  },
	    	  error: function(xhr, status, error) {
	    		  console.error('ajax 요청 실패: ', error);
	    	  }
	      });
	  }
     
    </script>
</body>
</html>